{extend name="public/layout" /}
{block name="pluginsCss"}{/block}
{block name="style"}{/block}

{block name="body"}
<div class="content-header">
    <ul class="breadcrumb">
        <li>
            <a href="{:url('index/index')}" title="返回首页">
                <i class="fa fa-home"></i>首页
            </a>
        </li>
        <li class="active">试卷信息列表</li>
    </ul>
</div>
<div class="body-wrapper">
    <div class="content-body">
        <div class="container-fluid content-title">
            <h4>试卷信息列表</h4>
        </div>
        <div class="search-panel">
            <button class="btn btn-primary" id="btn-add" title="添加"><i class="fa fa-plus"></i>添加试卷</button>
            <input id="search-text" type="text" placeholder="请输入试卷名称">
            <button id="btn-refresh" class="btn btn-link" title="刷新"><i class="fa fa-refresh"></i></button>
        </div>
        <div class="content-panel" style="padding-top: 15px;">
            <table id="table" class="table table-striped  table-bordered dataTable" cellspacing="0" width="100%">
            </table>
        </div>
    </div>
</div>
{/block}
{block name="pluginsJs"}{/block}
{block name="script"}
<script>
    (function () {
        // 表格初始化
        var table = $('#table').DataTable({
            ajax: {
                url: "{:url('paper/paperList')}",
                dataSrc: ""
            },
            columns: [
                {
                    title: 'ID', data: 'id', visible: true
                },
                {title: '试卷名称', data: 'name', visible: true},
                {title: '总分', data: 'score', visible: true},
                {title: '及格分', data: 'pass_score', visible: true},
                {
                    title: '操作', data: null, visible: true,
                    render: function (v, type, row) {
                        var str = "";
                        str += '<a class="update-button" data-id="' + row.id + '" href="javascript:" style="margin-right:30px;"><i class="fa fa-pencil"></i></a>';
                        str += '<a class="edit-button" data-id="' + row.id + '" href="javascript:" style="margin-right:30px;"><i class="fa fa-file"></i></a>';
                        str += '<a class="delete-button" data-id="' + row.id + '" href="javascript:"><i class="fa fa-trash"></i></a>'

                        return str;

                    }
                }
            ],
            searching: true,
            info: false,
            lengthChange: false,
            pagingType: 'full',
            lengthMenu: [10, 20, 40, 80, 100],
            language: {
                emptyTable: '暂无数据',
                info: '_START_ - _END_   共 _TOTAL_ 条',
                infoEmpty: '共0条',
                infoFiltered: '',
                zeroRecords: '没有找到匹配条件的数据',
                loadingRecords: '加载中....',
                lengthMenu: '_MENU_',
                paginate: {
                    previous: '上一页',
                    next: '下一页',
                    first: '首页',
                    last: '末页'
                }
            }
        });

        // 删除
        $('#table').on('click', '.delete-button', function () {
            var that = $(this),
                id = that.data('id');
            swal({
                title: '警告',
                text: "确定删除该试卷吗",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: "是的，我要删除！",
                cancelButtonText: "让我再考虑一下…"
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "{:url('paper/delete')}",
                        type: 'post',
                        data: {
                            id: id
                        }
                    }).done(function (response) {
                        if (response.status) {
                            table.row(that.parents('tr')).remove().draw();
                        }
                    }).fail(function () {
                        console.error('删除数据请求失败！');
                    });
                }
            }, function (dismiss) {
                if (dismiss === 'cancel') {

                } else {
                    throw dismiss;
                }
            }).catch(function (err) {
                console.error(err);
                throw err;
            });
        });


        // 修改按钮弹窗
        $('#table').on('click', '.update-button', function () {
            var id = $(this).data('id');
            $.post("{:url('paper/edit')}", {id: id}).then(function (html) {
                layer.open({
                    type: 1,
                    title: '修改试卷信息',
                    skin: false,
                    area: ['430px', '250px'],
                    content: html,
                    end: function () {
                        table.ajax.reload();
                    }
                });
            });
        });

        // 编辑试卷试题
        $('#table').on('click', '.edit-button', function() {
            var id = $(this).data('id');
            $.post("{:url('paper/editQuestions')}", {id: id}).then(function (html) {
                layer.open({
                    type: 1,
                    title: '修改试卷试题',
                    skin: false,
                    area: ['800px', '550px'],
                    content: html,
                    end: function () {
                        table.ajax.reload();
                    }
                });
            });
        });

        // 添加按钮弹窗
        $('#btn-add').on('click', function () {
            $.post("{:url('paper/add')}").then(function (html) {
                layer.open({
                    type: 1,
                    title: '添加试卷信息',
                    skin: false,
                    area: ['430px', '250px'],
                    content: html,
                    end: function () {
                        table.ajax.reload();
                    }
                });
            });
        });

        // 搜索框事件
        $('#search-text').on('keyup', function () {
            var val = $(this).val();
            table.column(1).search(val).draw();
        });

        // 表格刷新
        $('#btn-refresh').on('click', function () {
            table.ajax.reload();
        });

    })();
</script>

<!--<script>-->
    <!--(function () {-->
        <!--var questionListWrapper = $('.question-list-wrapper');-->

        <!--// 上一步-->
        <!--$('.ui-step-prev').on('click', function () {-->
            <!--var step = $('.ui-step li.active'),-->
                <!--stepPane = $('.ui-step-pane.active');-->
            <!--step.removeClass('active').prev().addClass('active');-->
            <!--stepPane.removeClass('active').prev().addClass('active');-->
        <!--});-->

        <!--// 下一步-->
        <!--$('.ui-step-next').on('click', function () {-->
            <!--var step = $('.ui-step li.active'),-->
                <!--stepPane = $('.ui-step-pane.active');-->
            <!--step.removeClass('active').next().addClass('active');-->
            <!--stepPane.removeClass('active').next().addClass('active');-->
        <!--});-->

        <!--// 添加试题-->
        <!--$('.btn-add-title').on('click', function () {-->
            <!--$('.btn-add-title').hide();-->
            <!--$('.addQuestionWrapper').addClass('active').html(questionEditTpl());-->
        <!--});-->

        <!--// 选择题型-->
        <!--$(document).on('change', '.questionForm .question-type', function () {-->
            <!--var val = $(this).val();-->
            <!--if (val !== null) {-->
                <!--$(this).siblings('.question-setting-wrapper').find('.question-type-pane.active').removeClass('active');-->
                <!--$(this).siblings('.question-setting-wrapper').find('.question-type-pane[data-type="' + val + '"]').addClass('active');-->
            <!--}-->
        <!--});-->

        <!--// 判断题选择初始化-->
        <!--$(document).on('click', '.questionForm .trueOrFalse', function () {-->
            <!--$(this).siblings('input[type=radio]').trigger('click');-->
        <!--});-->

        <!--// 编辑试题-->
        <!--questionListWrapper.on('click', '.question-wrapper a.edit', function (e) {-->
            <!--e.preventDefault();-->
            <!--var that = $(this);-->
            <!--$.ajax({-->
                <!--url: 'fine.json',-->
                <!--type: 'get',-->
                <!--data: {id: '123'}-->
            <!--}).done(function (response) {-->
                <!--if (response.status) {-->
                    <!--var questionWrapper = that.parent().parent();-->
                    <!--that.parent().hide();-->
                    <!--questionWrapper.append(questionEditTpl());-->
                    <!--that.parent().siblings('.questionForm').find('.question-type').val(response.data.type).trigger('change');-->
                    <!--var html = "";-->
                    <!--// 试题内容-->
                    <!--switch (response.data.type) {-->
                        <!--case 1:-->
                            <!--$.each(response.data.options, function (index, item) {-->
                                <!--html += '       <div class="question-option">';-->
                                <!--html += '           <input type="radio" name="trueOrFalse" title="判断题选项"' + (item.isAnswer === true ? 'checked' : '') + '>';-->
                                <!--html += '           <label class="label trueOrFalse">' + item.text + '</label>';-->
                                <!--html += '       </div>';-->
                            <!--});-->
                            <!--break;-->
                        <!--case 2:-->
                            <!--$.each(response.data.options, function (index, item) {-->
                                <!--html += '       <div class="question-option">';-->
                                <!--html += '            <input type="radio" name="radio" title="单选题选项"' + (item.isAnswer === true ? 'checked' : '') + '>';-->
                                <!--html += '            <input type="text" title="单选题选项内容" value="' + item.text + '">';-->
                                <!--html += '       </div>';-->
                            <!--});-->
                            <!--html += '       <a class="btn btn-primary add-option" href="javascript:"><i class="icon-plus"></i></a>';-->
                            <!--break;-->
                        <!--case 3:-->
                            <!--$.each(response.data.options, function (index, item) {-->
                                <!--html += '       <div class="question-option">';-->
                                <!--html += '             <input type="checkbox" name="checkbox" title="复选题选项" ' + (item.isAnswer === true ? 'checked' : '') + '>';-->
                                <!--html += '             <input type="text" title="复选题选项内容" value="' + item.text + '">';-->
                                <!--html += '       </div>';-->
                            <!--});-->
                            <!--html += '       <a class="btn btn-primary add-option" href="javascript:"><i class="icon-plus"></i></a>';-->
                            <!--break;-->
                        <!--case 4:-->
                            <!--break;-->
                        <!--case 5:-->
                            <!--break;-->
                        <!--default:-->
                            <!--break;-->
                    <!--}-->
                    <!--that.parent().siblings('.questionForm').find('.question-type-pane[data-type="' + response.data.type + '"]').html(html);-->
                <!--} else {-->
                    <!--console.error('无数据');-->
                <!--}-->
            <!--}).fail(function () {-->
                <!--console.error('数据获取异常');-->
            <!--});-->
        <!--});-->

        <!--// 删除试题-->
        <!--questionListWrapper.on('click', '.question-wrapper a.remove', function (e) {-->
            <!--e.preventDefault();-->
            <!--$(this).parent().parent().remove();-->
        <!--});-->

        <!--// 上移试题-->
        <!--questionListWrapper.on('click', '.question-wrapper a.up', function (e) {-->
            <!--e.preventDefault();-->
            <!--if ($(this).parent().parent().prevAll().length > 0) {-->
<!--//                $(this).parent().prev().data('order', $(this).parent().data('order'));-->
<!--//                $(this).parent().data('order', $(this).parent().data('order') - 1);-->
                <!--$(this).parent().parent().prev().before($(this).parent().parent());-->
            <!--}-->
        <!--});-->

        <!--// 下移试题-->
        <!--questionListWrapper.on('click', '.question-wrapper a.down', function (e) {-->
            <!--e.preventDefault();-->
            <!--if ($(this).parent().parent().nextAll().length > 0) {-->
<!--//                $(this).parent().next().data('order', $(this).parent().data('order'));-->
<!--//                $(this).parent().data('order', $(this).parent().data('order') + 1);-->
                <!--$(this).parent().parent().next().after($(this).parent().parent());-->
            <!--}-->
        <!--});-->

        <!--// 添加选项（仅单选题及多选题需要）-->
        <!--$(document).on('click', '.question-type-pane a.add-option', function () {-->
            <!--var parent = $(this).parent(),-->
                <!--parentType = parent.data('type');-->
            <!--var html = "";-->
            <!--html += "<div class='question-option'>";-->
            <!--if (parentType === 2) {-->
                <!--html += "<input type='radio' name='radio' title='单选题选项'>";-->
                <!--html += "<input type='text' title='单选题选项内容'>";-->
            <!--} else if (parentType === 3) {-->
                <!--html += "<input type='checkbox' name='checkbox' title='复选题选项'>";-->
                <!--html += "<input type='text' title='复选题选项内容'>";-->
            <!--} else {-->
                <!--return false;-->
            <!--}-->
            <!--html += "</div>";-->
            <!--$(this).before(html);-->
        <!--});-->

        <!--// 保存新增试题-->
        <!--$(document).on('click', '.addQuestionWrapper .btn-save-title', function () {-->
            <!--// TODO:ajax发送请求，新增该试题，新增成功返回模拟数据格式的数据并将数据拼接进元素内容-->
            <!--var that = $(this);-->
            <!--$.ajax({-->
                <!--url: 'fine.json',-->
                <!--type: 'post',-->
                <!--data: {id: '123'}-->
            <!--}).done(function (response) {-->
                <!--if (response.status) {-->
                    <!--var str = questionTpl(response.data);-->
                    <!--questionListWrapper.append(str);-->
                    <!--that.parent().remove();-->
<!--//                    resetQuestionForm();-->
                    <!--$('.btn-add-title').show();-->
                    <!--$('.addQuestionWrapper').removeClass('active');-->
                <!--} else {-->
                    <!--console.error('无数据');-->
                <!--}-->
            <!--}).fail(function () {-->
                <!--console.error('数据获取异常');-->
            <!--});-->

        <!--});-->

        <!--// 保存编辑试题-->
        <!--questionListWrapper.on('click', '.btn-save-title', function () {-->
            <!--// TODO:ajax发送请求，保存该试题，保存成功返回模拟数据格式的数据并将数据拼接进元素内容-->
            <!--var that = $(this);-->
            <!--$.ajax({-->
                <!--url: 'fine.json',-->
                <!--type: 'post',-->
                <!--data: {id: '123'}-->
            <!--}).done(function (response) {-->
                <!--if (response.status) {-->
                    <!--var str = questionTpl(response.data);-->
<!--//                    resetQuestionForm();-->
                    <!--that.parents('.question-wrapper').before(str).remove();-->
                <!--} else {-->
                    <!--console.error('无数据');-->
                <!--}-->
            <!--}).fail(function () {-->
                <!--console.error('数据获取异常');-->
            <!--});-->
        <!--});-->

        <!--// 重置新建试题表单-->
        <!--function resetQuestionForm() {-->
            <!--$('.addQuestionWrapper .question-type').val('1').trigger('change');-->
            <!--$('.question-type-pane[data-type="1"]').find('input[type=radio]').eq(0).trigger('click');-->
            <!--$('.question-type-pane[data-type="2"]').find('input[type=radio]').eq(0).trigger('click');-->
            <!--$('.question-type-pane[data-type="3"]').find('input[type=checkbox]').prop('checked', false);-->
            <!--$('.addQuestionWrapper input,.addQuestionWrapper textarea').val('');-->
        <!--}-->

        <!--// 试题模板-->
        <!--function questionTpl(data) {-->
            <!--if (data !== null && data !== undefined && data !== "") {-->
                <!--var html = "";-->
                <!--html += '<div class="question-wrapper" data-id="' + data.id + '">';-->
                <!--html += '   <div class="question-inner">';-->
                <!--html += '       <p class="question-title">' + data.title + '</p>';-->
                <!--html += '       <ul class="option">';-->
                <!--$.each(data.options, function (index, item) {-->
                    <!--html += '           <li class="' + (item.isAnswer === true ? 'selected' : '') + '">' + item.text + '</li>'-->
                <!--});-->
                <!--html += '       </ul>';-->
                <!--html += '       <p class="question-answer">答案：' + data.answerText + '</p>';-->
                <!--html += '       <p class="question-analysis">解析：' + data.analysis + '</p>';-->
                <!--html += '       <div class="question-score-wrapper">';-->
                <!--html += '           <input type="number" name="score" value="' + data.score + '" title="试题分数">分';-->
                <!--html += '       </div>';-->
                <!--html += '       <a class="edit" href="javascript:"><i class="icon-edit"></i>编辑</a>';-->
                <!--html += '       <a class="remove" href="javascript:"><i class="icon-trash"></i>删除</a>';-->
                <!--html += '       <a class="up" href="javascript:"><i class="icon-chevron-up"></i>上移</a>';-->
                <!--html += '       <a class="down" href="javascript:"><i class="icon-chevron-down"></i>下移</a>';-->
                <!--html += '   </div>';-->
                <!--html += '</div>';-->
                <!--return html;-->
            <!--} else {-->
                <!--console.error('试题模板数据不能为空！');-->
            <!--}-->
        <!--}-->

        <!--// 试题编辑模板-->
        <!--function questionEditTpl() {-->
            <!--var html = "";-->
            <!--html += '<div class="questionForm">';-->
            <!--html += '<select class="question-type" style="width: 200px;" title="题型"><option value="1" selected>判断题</option><option value="2">单选题</option><option value="3">多选题</option><option value="4">填空题</option><option value="5">简答题</option></select>';-->
            <!--html += '<div class="question-setting-wrapper">';-->
            <!--html += '   <div class="descPane"></div>';-->
            <!--html += '   <div class="question-type-pane active" data-type="1">';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '           <input type="radio" name="trueOrFalse" title="判断题选项" checked>';-->
            <!--html += '           <label class="label trueOrFalse">正确</label>';-->
            <!--html += '       </div>';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '           <input type="radio" name="trueOrFalse" title="判断题选项">';-->
            <!--html += '           <label class="label trueOrFalse">错误</label>';-->
            <!--html += '       </div>';-->
            <!--html += '   </div>';-->
            <!--html += '   <div class="question-type-pane" data-type="2">';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '            <input type="radio" name="radio" title="单选题选项" checked>';-->
            <!--html += '            <input type="text" title="单选题选项内容">';-->
            <!--html += '       </div>';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '             <input type="radio" name="radio" title="单选题选项">';-->
            <!--html += '             <input type="text" title="单选题选项内容">';-->
            <!--html += '       </div>';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '             <input type="radio" name="radio" title="单选题选项">';-->
            <!--html += '             <input type="text" title="单选题选项内容">';-->
            <!--html += '       </div>';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '             <input type="radio" name="radio" title="单选题选项">';-->
            <!--html += '             <input type="text" title="单选题选项内容">';-->
            <!--html += '       </div>';-->
            <!--html += '       <a class="btn btn-primary add-option" href="javascript:"><i class="icon-plus"></i></a>';-->
            <!--html += '   </div>';-->
            <!--html += '   <div class="question-type-pane" data-type="3">';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '             <input type="checkbox" name="checkbox" title="复选题选项">';-->
            <!--html += '             <input type="text" title="复选题选项内容">';-->
            <!--html += '       </div>';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '             <input type="checkbox" name="checkbox" title="复选题选项">';-->
            <!--html += '             <input type="text" title="复选题选项内容">';-->
            <!--html += '       </div>';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '              <input type="checkbox" name="checkbox" title="复选题选项">';-->
            <!--html += '              <input type="text" title="复选题选项内容">';-->
            <!--html += '       </div>';-->
            <!--html += '       <div class="question-option">';-->
            <!--html += '              <input type="checkbox" name="checkbox" title="复选题选项">';-->
            <!--html += '              <input type="text" title="复选题选项内容">';-->
            <!--html += '       </div>';-->
            <!--html += '       <a class="btn btn-primary add-option" href="javascript:"><i class="icon-plus"></i></a>';-->
            <!--html += '   </div>';-->
            <!--html += '   <div class="question-type-pane" data-type="4">';-->
            <!--html += '   </div>';-->
            <!--html += '   <div class="question-type-pane" data-type="5">';-->
            <!--html += '   </div>';-->
            <!--html += '   <div class="analysisPane"></div>';-->
            <!--html += '</div>';-->
            <!--html += '<a class="btn btn-primary btn-save-title">保存</a>';-->
            <!--html += '</div>';-->
            <!--return html;-->
        <!--}-->

        <!--// 保存试卷-->
        <!--$('#savePaper').on('click', function (e) {-->
            <!--var selectors = $('.question-list-wrapper .question-wrapper');-->
            <!--if (selectors.length > 0) {-->
                <!--if ($('.addQuestionWrapper').hasClass('active')) {-->
                    <!--console.error('请先保存未完成的试题！'); // 提示框-->
                    <!--e.stopPropagation();-->
                <!--} else {-->
                    <!--$.each(selectors, function (index, item) {-->
<!--//                        console.log($(item).data('id'));-->
                    <!--});-->
                    <!--$('.ui-step-next').trigger('click');-->
                <!--}-->
            <!--} else {-->
                <!--console.error('试卷试题不能少于1道！'); // 提示框-->
            <!--}-->
        <!--});-->

        <!--// TODO:考试倒计时 .参数：分钟-->
        <!--function backTimer(time) {-->
            <!--var seconds = time * 60;-->
            <!--window.setInterval(function () {-->
                <!--var day = 0,-->
                    <!--hour = 0,-->
                    <!--minute = 0,-->
                    <!--second = 0;//时间默认值-->
                <!--if (seconds > 0) {-->
                    <!--day = Math.floor(seconds / (60 * 60 * 24));-->
                    <!--hour = Math.floor(seconds / (60 * 60)) - (day * 24);-->
                    <!--minute = Math.floor(seconds / 60) - (day * 24 * 60) - (hour * 60);-->
                    <!--second = Math.floor(seconds) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);-->
                <!--}-->
                <!--if (minute <= 9) minute = '0' + minute;-->
                <!--if (second <= 9) second = '0' + second;-->
                <!--$('#day_show').html(day + "天");-->
                <!--$('#hour_show').html('<s id="h"></s>' + hour + '时');-->
                <!--$('#minute_show').html('<s></s>' + minute + '分');-->
                <!--$('#second_show').html('<s></s>' + second + '秒');-->
                <!--seconds&#45;&#45;;-->
            <!--}, 1000);-->
        <!--}-->

<!--//        $('form').on('submit', function() {-->
<!--//            var title = $('inpur[name=title]').val(),-->
<!--//                content = $('textarea').val();-->
<!--//-->
<!--//            $(this).ajaxSubmit({-->
<!--//                type: 'post', // 提交方式 get/post-->
<!--//                url: 'your url', // 需要提交的 url-->
<!--//                data: {-->
<!--//                    'title': title,-->
<!--//                    'content': content-->
<!--//                },-->
<!--//                success: function(data) { // data 保存提交后返回的数据，一般为 json 数据-->
<!--//                    // 此处可对 data 作相关处理-->
<!--//                    alert('提交成功！');-->
<!--//                }-->
<!--//                $(this).resetForm(); // 提交后重置表单-->
<!--//        });-->
<!--//            return false; // 阻止表单自动提交事件-->
<!--//        });-->

    <!--})();-->
<!--</script>-->
{/block}