<body class="inside-header inside-aside is-dialog">
<div id="main" role="main">
    <div class="tab-content tab-addtabs">
        <div id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="content">
                        <style>
                            tbody.collapse-content{
                                max-height:350px;
                                overflow: scroll;
                            }
                            .collapse-head{

                            }
                        </style>
                        <div class="panel panel-default panel-intro">
                            <div class="panel-heading">
                                <p>
                                    1、选择完成后，点击下方“选择完成”按钮。<br>
                                    2、手动输入了分数和排序，需选中，然后保存<br>
                                    3、分数为必填项。
                                </p>
                            </div>
                            <div class="panel-body">
                                <div id="toolbar" class="toolbar" style="padding-bottom:20px;">
                                    <a class="btn btn-info btn-selected" href="javascript:;"><i class="fa fa-save"></i> 选择完成</a>
                                </div>
                                <form id="chooseitem-form" action="" method="post" class="nice-validator n-default" novalidate="novalidate">
                                    <table class="table table-striped table-bordered table-hover table-nowrap" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="bs-checkbox" style="text-align: center; vertical-align: middle; width: 36px;">选择</th>
                                            <th style="text-align: center; vertical-align: middle; "><div class="th-inner ">Id</div></th>
                                            <th style="text-align: center; vertical-align: middle; "><div class="th-inner ">题目</div></th>
                                            <th style="text-align: center; vertical-align: middle; " width="90px;"><div class="th-inner ">类型</div></th>
                                            <th style="text-align: center; vertical-align: middle; " width="10%"><div class="th-inner ">分数</div></th>
                                            <th style="text-align: center; vertical-align: middle; " width="10%"><div class="th-inner ">排序</div></th>
                                        </tr>
                                        </thead>
                                        <input type="hidden" name="id" value="{$id}">
                                        <!--判断题-->
                                        {if $QuestionList1}
                                            <tbody class="collapse__hd">
                                            <tr class="warning">
                                                <td colspan="7" style="text-align:left;">判断题 <i class="fa fa-angle-down"></i></td>
                                            </tr>
                                            </tbody>
                                            <tbody class="collapse__bd">
                                            {foreach $QuestionList1 as $val}
                                                <tr>
                                                    <td class="bs-checkbox"><input name="row[{$val.id}][select]" type="checkbox" value="checked" {if in_array($val.id,$PaperQuestionId)}checked{/if}></td>
                                                    <td style="text-align: center; vertical-align: middle; ">{$val.id}<input type="hidden" name="row[{$val.id}][id]" value="{$val.id}"></td>
                                                    <td style="text-align: left; vertical-align: middle; ">{$val.name}</td>
                                                    <td style="text-align: center; vertical-align: middle; ">判断题</td>
                                                    <td style="text-align: center; vertical-align: middle; "><input type="number" value="{$val.score}" class="form-control input-sm" value="" name="row[{$val.id}][score]"></td>
                                                    <td style="text-align: center; vertical-align: middle; "><input type="number" class="form-control input-sm" value="0" name="row[{$val.id}][order]"></td>
                                                </tr>
                                            {/foreach}
                                            </tbody>
                                        {/if}
                                        <!--单选题-->
                                        {if $QuestionList2}
                                        <tbody class="collapse__hd">
                                        <tr class="warning">
                                            <td colspan="7" style="text-align:left;">单选题 <i class="fa fa-angle-down"></i></td>
                                        </tr>
                                        </tbody>
                                        <tbody class="collapse__bd">
                                        {foreach $QuestionList2 as $val}
                                        <tr>
                                            <td class="bs-checkbox"><input name="row[{$val.id}][select]" type="checkbox" value="checked" {if in_array($val.id,$PaperQuestionId)}checked{/if}></td>
                                            <td style="text-align: center; vertical-align: middle; ">{$val.id}<input type="hidden" name="row[{$val.id}][id]" value="{$val.id}"></td>
                                            <td style="text-align: left; vertical-align: middle; ">{$val.name}</td>
                                            <td style="text-align: center; vertical-align: middle; ">判断题</td>
                                            <td style="text-align: center; vertical-align: middle; "><input type="number" value="{$val.score}" class="form-control input-sm" value="" name="row[{$val.id}][score]"></td>
                                            <td style="text-align: center; vertical-align: middle; "><input type="number" class="form-control input-sm" value="0" name="row[{$val.id}][order]"></td>
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                        {/if}
                                        <!--多选题-->
                                        {if $QuestionList3}
                                        <tbody class="collapse__hd">
                                        <tr class="warning">
                                            <td colspan="7" style="text-align:left;">多选题 <i class="fa fa-angle-down"></i></td>
                                        </tr>
                                        </tbody>
                                        <tbody class="collapse__bd">
                                        {foreach $QuestionList3 as $val}
                                        <tr>
                                            <td class="bs-checkbox"><input name="row[{$val.id}][select]" type="checkbox" value="checked" {if in_array($val.id,$PaperQuestionId)}checked{/if}></td>
                                            <td style="text-align: center; vertical-align: middle; ">{$val.id}<input type="hidden" name="row[{$val.id}][id]" value="{$val.id}"></td>
                                            <td style="text-align: left; vertical-align: middle; ">{$val.name}</td>
                                            <td style="text-align: center; vertical-align: middle; ">判断题</td>
                                            <td style="text-align: center; vertical-align: middle; "><input type="number" value="{$val.score}" class="form-control input-sm" value="" name="row[{$val.id}][score]"></td>
                                            <td style="text-align: center; vertical-align: middle; "><input type="number" class="form-control input-sm" value="0" name="row[{$val.id}][order]"></td>
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                        {/if}
                                        <!--填空题-->
                                        {if $QuestionList4}
                                        <tbody class="collapse__hd">
                                        <tr class="warning">
                                            <td colspan="7" style="text-align:left;">填空题 <i class="fa fa-angle-down"></i></td>
                                        </tr>
                                        </tbody>
                                        <tbody class="collapse__bd">
                                        {foreach $QuestionList4 as $val}
                                        <tr>
                                            <td class="bs-checkbox"><input name="row[{$val.id}][select]" type="checkbox" value="checked" {if in_array($val.id,$PaperQuestionId)}checked{/if}></td>
                                            <td style="text-align: center; vertical-align: middle; ">{$val.id}<input type="hidden" name="row[{$val.id}][id]" value="{$val.id}"></td>
                                            <td style="text-align: left; vertical-align: middle; ">{$val.name}</td>
                                            <td style="text-align: center; vertical-align: middle; ">判断题</td>
                                            <td style="text-align: center; vertical-align: middle; "><input type="number" value="{$val.score}" class="form-control input-sm" value="" name="row[{$val.id}][score]"></td>
                                            <td style="text-align: center; vertical-align: middle; "><input type="number" class="form-control input-sm" value="0" name="row[{$val.id}][order]"></td>
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                        {/if}
                                        <!--简答题-->
                                        {if $QuestionList5}
                                        <tbody class="collapse__hd">
                                        <tr class="warning">
                                            <td colspan="7" style="text-align:left;">简答题 <i class="fa fa-angle-down"></i></td>
                                        </tr>
                                        </tbody>
                                        <tbody class="collapse__bd">
                                        {foreach $QuestionList5 as $val}
                                        <tr>
                                            <td class="bs-checkbox"><input name="row[{$val.id}][select]" type="checkbox" value="checked" {if in_array($val.id,$PaperQuestionId)}checked{/if}></td>
                                            <td style="text-align: center; vertical-align: middle; ">{$val.id}<input type="hidden" name="row[{$val.id}][id]" value="{$val.id}"></td>
                                            <td style="text-align: left; vertical-align: middle; ">{$val.name}</td>
                                            <td style="text-align: center; vertical-align: middle; ">判断题</td>
                                            <td style="text-align: center; vertical-align: middle; "><input type="number" value="{$val.score}" class="form-control input-sm" value="" name="row[{$val.id}][score]"></td>
                                            <td style="text-align: center; vertical-align: middle; "><input type="number" class="form-control input-sm" value="0" name="row[{$val.id}][order]"></td>
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                        {/if}
                                    </table>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    (function () {
        // 选择完成
        $('#toolbar').on('click', function () {
            var url = "{:url('paper/saveSelectQuestions')}";
            var formData = $('#chooseitem-form').serialize();
            $.ajax({
                url: url,
                type: 'post',
                data: formData
            }).done(function (response) {
                if (response.status) {
                    layer.close(layer.index);
                    layer.msg(response.message);
                }else {
                    alert(response.message);
                }
            }).fail(function () {
                console.error('请求失败！');
            });
    });
    })();
</script>