{extend name="public/layout" /}
{block name="pluginsCss"}{/block}
{block name="style"}{/block}

{block name="body"}
<div class="content-header">
    <ul class="breadcrumb">
        <li>
            <a href="{:url('index/index')}" title="返回首页">
                <i class="fa fa-home"></i>首页
            </a>
        </li>
        <li class="active">考试列表</li>
    </ul>
</div>
<div class="body-wrapper">
    <div class="content-body">
        <div class="container-fluid content-title">
            <h4>考试成绩列表</h4>
        </div>
        <div class="search-panel">
            <!--<button class="btn btn-primary" id="btn-add" title="添加"><i class="fa fa-plus"></i>添加考试</button>-->
            <select id="statusSelector" style="width: 120px">
                <option value="">状态</option>
                <option value="已报名">已报名</option>
                <option value="考试中">考试中</option>
                <option value="待审卷">待审卷</option>
                <option value="缺考">缺考</option>
                <option value="审卷结束">审卷结束</option>
            </select>
            <input id="search-text" type="text" placeholder="请输入考试名称">
            <input id="search-text1" type="text" placeholder="请输入考生用户名">
            <button id="btn-refresh" class="btn btn-link" title="刷新"><i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="content-panel" style="padding-top: 15px;">
            <table id="table" class="table table-striped  table-bordered dataTable" cellspacing="0" width="100%">
            </table>
        </div>
    </div>
</div>
{/block}
{block name="pluginsJs"}{/block}
{block name="script"}
<script>
    (function () {
        var table = $('#table').DataTable({
            ajax: {
                url: "{:url('achievement/examList')}",
                dataSrc: ""
            },
            columns: [
                {
                    title: 'ID', data: 'id', visible: true
                },
                {title: '考试名称', data: 'title', visible: true},
                {title: '考生用户名', data: 'username', visible: true},
                {title: '开始考试时间', data: 'exam_time', visible: true},
                {title: '系统判分', data: 'score', visible: true},
                {
                    title: '是否人工审卷', data: 'is_check', visible: true,
                    render: function (v) {
                        return v === 1 ? '是' : '否';
                    }
                },
                {
                    title: '状态', data: 'status', visible: true,
                    render: function (v) {
                        var str;
                        switch (v) {
                            case 1:
                                str = "已报名";
                                break;
                            case 2:
                                str = "考试中";
                                break;
                            case 3:
                                str = "待审卷";
                                break;
                            case 4:
                                str = "缺考";
                                break;
                            case 5:
                                str = "审卷结束";
                                break;
                        }
                        return str;
                    }
                },
                {
                    title: '操作', data: null, visible: true,
                    render: function (v, type, row) {
                        var str = "";
                        if (row.status === 3) {
                            str += '<a class="check-button" data-examid="' + row.exam_id + '" data-userid="' + row.user_id + '" href="javascript:" style="margin-right:30px;"><i class="fa fa-pencil"></i></a>';
                        }
                        str += '<a class="delete-button" data-id="' + row.id + '" href="javascript:"><i class="fa fa-trash"></i></a>';
                        return str;
                    }
                }
            ],
            searching: true,
            info: false,
            lengthChange: false,
            pagingType: 'full',
            lengthMenu: [10, 20, 40, 80, 100],
            language: {
                emptyTable: '暂无数据',
                info: '_START_ - _END_   共 _TOTAL_ 条',
                infoEmpty: '共0条',
                infoFiltered: '',
                zeroRecords: '没有找到匹配条件的数据',
                loadingRecords: '加载中....',
                lengthMenu: '_MENU_',
                paginate: {
                    previous: '上一页',
                    next: '下一页',
                    first: '首页',
                    last: '末页'
                }
            }
        });

        // 删除
        $('#table').on('click', '.delete-button', function () {
            var that = $(this),
                id = that.data('id');
            swal({
                title: '警告',
                text: "确定删除该成绩信息吗",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: "是的，我要删除！",
                cancelButtonText: "让我再考虑一下…"
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "{:url('achievement/delete')}",
                        type: 'post',
                        data: {
                            id: id
                        }
                    }).done(function (response) {
                        if (response.status) {
                            table.row(that.parents('tr')).remove().draw();
                        } else {
                            layer.msg(response.message);
                        }
                    }).fail(function () {
                        console.error('删除数据请求失败！');
                    });
                }
            }, function (dismiss) {
                if (dismiss === 'cancel') {

                } else {
                    throw dismiss;
                }
            }).catch(function (err) {
                console.error(err);
                throw err;
            });
        });

        // 修改按钮弹窗
        $('#table').on('click', '.check-button', function () {
            var examId = $(this).data('examid');
            var userId = $(this).data('userid');
            $.post("{:url('achievement/checkPaper')}", {
                examId: examId,
                userId: userId
            }).then(function (html) {
                layer.open({
                    type: 1,
                    title: '评审试卷',
                    skin: false,
                    area: ['650px', '670px'],
                    content: html,
                    end: function () {
                        table.ajax.reload();
                    }
                });
            });
        });

        // 搜索框事件
        $('#search-text').on('keyup', function () {
            var val = $(this).val();
            table.column(1).search(val).draw();
        });
        // 搜索框事件
        $('#search-text1').on('keyup', function () {
            var val = $(this).val();
            table.column(2).search(val).draw();
        });

        // 表格刷新
        $('#btn-refresh').on('click', function () {
            table.ajax.reload();
        });

        $('#statusSelector').on('change', function () {
            var val = $(this).val();
            table.column(6).search(val).draw();
        });

        $('#statusSelector').SumoSelect();

    })();
</script>
{/block}